  <ion-view view-title="Item Information ">
    <ion-content class="background-maingrey">

     
          <!-- Distance -->
    
        
        
 <!-- Shows uo only if there is a product found -->
 
    <div class=" verify-card" ng-show="product">
    <div class="row row-dark">
      <div class="col col-33 top-middle">
        
         
        <div class="verify-count-field light">
          {{product.scancount}}
          </div>
          

           <span class="verify-count-label">
        Scan Count
        </span>
        
        
        
        </div>
         <div class="col col-33 top-middle">
        
        
           <div class="verdict-count balanced" ng-show="distance.value<1">
            <i class="icon ion-checkmark-circled result-icon"></i><br/>
            OK
          </div>
          
           <div class="verdict-count amber" ng-show="1<=distance.value && distance.value<5">
            <i class="icon ion-help-circled result-icon"></i><br/>
            ALERT
          </div>
          
          <div class="verdict-count assertive" ng-show="5<=distance.value">
            <i class="icon ion-alert-circled result-icon"></i><br/>
            SUSPICIOUS
          </div>
          
          
          
        </div>
        
         <div class="col col-33 top-middle">
        
             
        <div ng-if="distance">
        <div class="verify-count-field light">
          
          {{distance.value}}km 
          
          </div>
<!--          
          <div class="verdict-count balanced" ng-show="distance.value<1">
            <i class="icon ion-ios-checkmark-outline"></i>
            OK
          </div>
          
           <div class="verdict-count amber" ng-show="1<=distance.value && distance.value<5">
            <i class="icon ion-ios-help-outline"></i>
            ALERT
          </div>
          
          <div class="verdict-count assertive" ng-show="5<=distance.value">
            <i class="icon ion-ios-close-outline"></i>
            SUSPICIOUS
          </div>-->
          <span class="verify-count-label">
        Distance
        </span>
        </div>  
        
        
        </div>
      
      
    </div>
    
 <div class="row row-dark2">
    <div class="col col-20 col-icon">
        <i class="icon ion-ios-flask verify-med-icon"></i>

      </div>
      <div class="col">
       <div class="verify-productname">
          {{product.name}}
          </div> 
          <div class="verify-manufacturer">
          {{product.manufacturer}}, {{product.origin}}
          </div>   
          
      </div> 

  </div>
          
    

  <div class="row row-dark">
    <div class ="col col-20 col-icon">
              <i class="icon ion-location verify-med-icon"></i>

      
      </div>
      
      <div class="col col">
        <div class="verify-tracked-location-label">
          Tracked location:
          </div>
        <div class="verify-tracked-location-field">
          {{product.currentowner}}
          <br/>
          {{product.location}}

            
        </div>
        <div>
            <button class="button button-outline button-light report-button">
              <!--<i class="icon ion-map icon-small"> </i>-->
              View map</button>
            </div>
        
        
        </div>
  <div class="col col-20 col-icon">
      
        </div>  
          
  </div>
  </div>
  
  
  
  
         <div class="row row-dark2">
        
        <div class="col col-20 col-icon">
          <i class="icon ion-ios-information verify-med-icon"></i>
          
          </div>
          <div class="col ">

          
          <span class="verify-label-small"> Batch: </span>
          <span class="verify-field-small"> {{product.batchno}} </span>
          <br/>
          <span class="verify-label-small"> Expiry: </span> 
          <span class="verify-field-small"> {{product.expdate}} </span>
          <br/>
          <img  class="verify-picture" ng-src="{{product.image}}"/>
          
          </div>    
        </div>






        </div>

         


    </div>

     <!--<pre>{{barcode  |json}}</pre>
      <pre>{{product  |json}}</pre> -->
    </ion-content>


  </ion-view>


