  <!--<ion-view view-title="<img src='./img/assets/logo-45.png'/> ">-->
    <ion-view view-title="checkIt ">
    <ion-content class="padding">

    <!--<button class="button button-full button-energized " ng-click="scanBarcode()"> Scan Code </button>-->
    <button class="button button-full" ng-click="scanBarcodeStub()"> Offline mode (Codral demo)</button>
    <!--<button class="button button-full" ng-click="clearProduct()"> Clear </button>-->

<img ng-src="./img/assets/logo-hd.png" class="checkit-verify-logo"> 
<!--<button class='button button-full button-light'>-->
  <div class="scan-div">
<img ng-src='img/assets/tap-to-scan.png'  ng-click="scanBarcode()"/>
</div>
<!--</button>-->
 <div class="location-div">
   {{userlocation}}<br/>
            <button class="button button-dark" ng-click="updatelocation()">Update Location</button>

         
        </div>


    </div>

    </ion-content>


  </ion-view>


