/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$dark2: #808080;
$dark: #262626;
$maingrey: #46444c;

$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";



.verify-label {
	font-size: 20px;
	//font-color: $royal;
	color: $light;
}
.verify-field {
	font-size: 20px;
	//font-color: $royal;
	color: $energized;
}
.verify-card {
	background-color: $royal;
}

.verify-picture{
	border-radius: 25px;
    background: $light;
    padding: 10px; 
    max-width: 600px;
	margin-top: 10px;
}

.background-purple {
	
		background-color: $royal;

}
.background-maingrey {
	
		background-color: $maingrey;

}
.background-dark {
	
		background-color: $dark;

}

.checkit-verify-logo{
max-width:100%;
margin-top: 70px;

}

.verify-productname{
color: $energized;
	font-size: 24px;
	display: block;
	line-height: 26px;
	
}
.verify-manufacturer{
	color: $energized;
	font-size: 16px;
	display: block;
	padding-top: 4px;
	
}

.col-icon{
	
	text-align: center;
padding-top: 10px;
}
i.verify-med-icon{
	font-size: 48px;
	color: $stable;
	//padding-top: 20px;
//margin: auto;

}

.row-dark{
	background-color: $dark;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.row-dark2{
		background-color: $maingrey;
		padding-top: 10px !important;
		padding-bottom: 10px !important;

}

.verify-tracked-location-label{
	font-size: 16px;
	color: $light;
	
	
}
.verify-tracked-location-field{
	color: $energized;
	font-size: 16px;
	
}

.verify-label-small{
		font-size: 16px;
	color: $light;
	

}
.verify-field-small{
		font-size: 16px;
	color: $energized;
	

}

.report-button{
	padding-top: 0px !important;
	line-height: 20px !important;
	min-height: 30px;
	margin-top:10px; 
	
}
span.map-text{
	color: $light;
	font-size: 10px;
}

.verify-count-label{
	
font-size: 12px;
color: $light;
}

.verify-count-field{
	margin-top: 10px;
	font-size: 26px;
}

.icon-small{
	
	font-size: 10px !important;
}

.amber{
	color: darkorange;
}

.scan-div{
text-align: center;
}

.location-div{
	margin-top: 80px;
}


.top-middle{
	text-align: center;
}

.result-icon{
	
	font-size: 36px;
}